@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookBase</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <a class="text-dark" asp-area="" asp-controller="Books" asp-action="Index">Take a look at the books</a>
</div>
